@tailwind base;
@tailwind components;
@tailwind utilities;

.light-theme{
    --nevMenu: #484848;
    --nevMenu_Hover: #63ac45;
    --headings: #1C231F;
    --icons-url: #F7921E;
    --icon-theme: #141414;
    --white: #FFF;
    --bg-white: #FFF;
    --res-menu: #eacda3;
    --footer-bg: #0a0a0a;
    --footer-color: #fed620;
    --divider: #fed620;
    --card-bg: #FFF;
    --heading_tag: #77ce53;
    --border: 1px solid #d7d7d7;
    --para: #141414;
}
.dark-theme{
    --nevMenu_Hover: #f7f7f7;
    --res-menu: #141414;
    --para: #FFF;
    --card-bg: linear-gradient(90deg, rgba(217,195,195,1) 0%, rgba(200,117,141,1) 100%);
    --heading_tag: #FFF;
    --divider: #FFF;
    --nevMenu: #FFF;
    --icon-theme: #FFF;
    --white: #FFF;
    --bg-white: #000;
    --footer-bg: #000;
    --footer-color: #fed620;
    --border: none;
}

body{
    background-color: #FFF;
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

ul li{
    font-family: 'Jost', sans-serif;   
}
h1,h3,h5,p,span{
    font-family: 'Jost', sans-serif; 
}
h2{
    font-family: 'Luckiest Guy', cursive;   
}
h4,h6{
    font-family: 'Raleway', sans-serif;  
}
a{
    text-decoration: none;
}



/* @media (min-width: 320px) and (max-width: 576px){
    
} */